node_modules
.idea
*.js
.test
*.log
*.map
!/.gitattributes
!**/rollup.config.js
dist
!**/jest.config.js
!**/babel.config.js
!**/avaConfigBase.js
!**/ava.config.js
.DS_Store
coverage
scratch
build
!/wallaby.js
.favorites.json
